.button {
    font-size: 1.6rem;
    text-decoration: none;
}

.button:visited {
    color: var(--color-dark-blue);
}

.button i {
    padding: .25em .3em;
    border: 2.5px solid var(--color-dark-blue);
    border-radius: 50%;
    transition: 0.2s;
}

.button:hover i {
    border: 2.5px solid var(--color-white);
}

.button span {
    display: none;
}

.button:hover span {
    display: inline-block;
}