.button {
    color: var(--color-link_button);
    font-size: 1.6rem;
    text-decoration: none;
    transition: 0.2s;
}

.button__icon {
    padding: .25em .3em;
    border: 2.5px solid var(--border-link_button);
    border-radius: 50%; 
    transition: 0.2s;
}

.button__text {
    display: none;
}

.button:hover .button__icon {
    border: 2.5px solid transparent;
}

.button:hover .button__text {
    display: inline-block;
}

/* BUTTON LARGE */
.button--large {
    width: 100%;
}

/* BUTTON LIGHT */
.button--light {
    padding: .75em;
    background: var(--background-button);
    border: 2px solid var(--border-button--header);
    border-radius: 15px;
    font-weight: 600;
}

.button--light:hover {
    transform: scale(.95);
    box-shadow: inset 0 0 20px -10px var(--shadow-button--header);
}

/* BUTTON DARK */
.button--dark {
    padding: .75em 1.5em;
    background: var(--background-button--footer);
    border: none;
    border-radius: 5px;
    color: var(--color-button--footer);
    font-weight: 700;
}

.button--dark:hover {
    transform: scale(.95);
    box-shadow: inset 0 0 20px 0px var(--shadow-button--footer);
}
