.button {
    padding: .25em .5em;
    border: 2px solid var(--cor-azul-escuro);
    border-radius: 50%;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
}

.button:hover {
    border: none;
}

.button:visited {
    color: var(--cor-azul-escuro);
}

.button span {
    display: none;
}

.button:hover span {
    display: inline-block;
    border-bottom: 2px dotted var(--cor-azul-escuro);
}