header {
    position: fixed;
    display: flex;
    width: 100%;
    padding: 2em 3em;
    top: -200px;
    background: var(--background-header);
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 30px -10px var(--shadow-header);
    z-index: 1;
    transition: .2s;
}

.header--show {
    top: 0;
}

.header__logo {
    width: 200px;
}