@media (max-width: 1024px) {
    .container {
        width: auto;
    }

    /* BANNER */

    .banner {
        padding: 13em 0 5em;
    }

    .banner__span {
        font-size: 2.5em;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 2em;
    }

    /* BANNER */

    .banner__span {
        font-size: 2em;
    }
}

@media (max-width: 425px) {
    .container {
        padding: 0 4em;
    }

    .title {
        font-size: 3em;
    }

    /* BANNER */

    .banner .container {
        padding: 0 2em;
    }

    .banner__span {
        font-size: 1.7em;
    }

    /* INTRO */

    .intro .container {
        padding: 0 2em;
    }

    .intro__text {
        line-height: 1.5em;
    }

    /* BENEFITS */

    .card {
        flex-direction: column;
    }

    .card div {
        width: 100%;
    }

    /* FOOTER */

    footer .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__box--social {
        padding: 0;
        margin: 3em 0 0 0;
        border-left: none;
    }

}