@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --dark-blue: #00e;
    --dark-gray: #252e42;
    --default: #ab4ae3;
    --light-gray: #CCC;
    --white: #FFF;

    --background-header: var(--white);
    --background-card: var(--dark-gray);
    --background-intro: var(--dark-gray);
    --background-button: var(--white);
    --background-button--footer: var(--default);
    --background-footer: var(--dark-gray);

    --color-font: var(--dark-gray);
    --color-strong: var(--default);
    --color-intro: var(--white);
    --color-link_button: var(--default);
    --color-link_button--visited: var(--default);
    --color-button--footer: var(--color-footer);
    --color-contact: var(--white);
    --color-footer: var(--white);
    --color-card: var(--white);

    --border-subtitle: var(--white);
    --border-link_button: var(--default);
    --border-button--header: var(--default);
    --border-card: var(--light-gray);
    --border-footer-social: var(--white);
    
    --shadow-header: var(--dark-gray);
    --shadow-banner: var(--dark-gray);
    --shadow-banner-text: var(--light-gray);
    --shadow-button--header: var(--default);
    --shadow-button--footer: var(--dark-gray);
    --shadow-intro: var(--default);
    --shadow-card: var(--default);
}

::selection {
    background: var(--default);
    color: var(--white);
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    line-height: 1;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    color: var(--color-font);
    font-family: 'Poppins', sans-serif;
}

/* PRE-SET */

.container {
    width: 1200px;
    margin: auto;
}

.title {
    margin: 2.5em 0;
    font-size: 5em;
    font-weight: 200;
}

.title--form {
    margin: 0 0 1em;
    font-size: 2.5em;
}

.title--contact {
    margin: 0 0 1em;
    text-align: center;
}

.subtitle {
    padding-bottom: .5em;
    margin-bottom: .5em;
    font-size: 5em;
    font-weight: 500;
    border-bottom: 1px dotted var(--border-subtitle);
}

strong {
    color: var(--color-strong);
}

p {
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: 300;
}

a:visited {
    color: var(--default);
}