@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --color-aliceblue: #F0F8FF;
    --color-dark-blue: #00e;
    /*--color-dark-gray: #393945;*/
    --color-dark-gray: #252e42;
    --color-default: #ab4ae3;
    --color-light-gray: #CCC;
    --color-white: #FFF;

    --background-header: var(--color-white);
    --background-card: var(--color-dark-gray);
    --background-intro: var(--color-dark-gray);
    --background-footer: var(--color-dark-gray);

    --color-font: var(--color-dark-gray);
    --color-strong: var(--color-default);
    --color-intro: var(--color-white);
    --color-link_button--visited: var(--color-default);
    --color-card: var(--color-white);

    --border-subtitle: var(--color-white);
    --border-link_button: var(--color-default);
    --border-link_button--header: var(--color-default);
    --border-card: var(--color-light-gray);
    
    --shadow-header: var(--color-dark-gray);
    --shadow-banner: var(--color-dark-gray);
    --shadow-banner-text: var(--color-light-gray);
    --shadow-intro: var(--color-default);
    --shadow-link_button--header: var(--color-default);
    --shadow-card: var(--color-default);
}

::selection {
    background: var(--color-default);
    color: var(--color-white);
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    line-height: 1;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    color: var(--color-font);
    font-family: 'Poppins', sans-serif;
}

/* PRE-SET */

.container {
    width: 1200px;
    margin: auto;
}

.title {
    margin: 2.5em 0;
    font-size: 5em;
    font-weight: 200;
}

.subtitle {
    /*display: inline-block;*/
    padding-bottom: .5em;
    margin-bottom: .5em;
    font-size: 5em;
    font-weight: 500;
    border-bottom: 1px dotted var(--border-subtitle);
}

strong {
    color: var(--color-strong);
}

p {
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: 300;
}